<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


<!DOCTYPE html>
<html>

<head>
    <title>Navin</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Boostrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- google-material icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- css stylesheet -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- font css -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">


</head>

<body>
    <div class="loginWrapper">
        <div class="topWrapper text-center">
            <div class="cntctLnk text-right">
                Need Account?
                <a class="lnkCls" href="#">Contact Us</a>
            </div>
            <img src="./images/logo.svg" alt="">
        </div>
        <div class="borderDiv">
            <img class="w-100" src="./images/border.png" alt="">
        </div>
        <div class="lognContainer">
            <h2 class="cstmHdr">Forgot Password</h2>
            <p class="infoTxt text-center">Enter email address associated to your account to receive password reset link</p>
            <form class="logForm m-0" action="">
                <div class="inptWrpr">
                    <label class="cstmLbl">Email</label>
                    <input type="text" placeholder="Enter Email address">
                </div>
                <button class="btn primButton mt-3">Send Password Reset Link</button>
            </form>
        </div>
        <div class="pwrdCntnr text-center">
            <p>Powered by</p>
            <img src="./images/logo.svg" alt="">
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>

</html>