<!DOCTYPE html>
<html>
<head>
  <title>Navin</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body class="fadashBoard">
  <% if user_signed_in? %>
  <div class="fadashBoard d-flex align-items-start">
    <%= render '/shared/sidebar' %>
    <div class="faInrDshbord w-100">
      <%= render '/shared/header' %>
      <%= yield %>
    </div>
  </div>
  <%= render '/shared/footer' %>
  <% else %>
  <div class="loginWrapper">
    <%= yield %>
  </div>
  <% end %>

  <% if !flash.empty? %>
  <% flash.each do |key, value| %>
  <% if key == 'error' %>
  <script type="text/javascript">
    toastr.error('', "<%= value %>");
  </script>
  <% else %>
  <script type="text/javascript">
    toastr.success('', "<%= value %>");
  </script>
  <% end %>
  <% end %>
  <% end %>
</body>
</html>
